body{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* overflow: hidden; */

    font-family: var(--normal-font);
}

:root{
    --font-size-large: clamp(1.3rem, 2.1vw, 1.7rem);
    --font-size-medium: clamp(1rem, 1.5vw, 1.3rem);
    --header-font: 'Clairopixel';
    --normal-font: 'Fusion Pixel';
    --primary-color: #540d6e;
    --secondary-color: #ee4266;
}

/* SPIN ANIMATION */
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*FONTS*/
@font-face{
    font-family: "Clairopixel";
    src: url('./fonts/Cairopixel.ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face{
    font-family: "Fusion Pixel";
    src: url('./fonts/fusion-pixel.woff2');
    font-weight: 400;
    font-style: normal;
}

.header{
    background-color: var(--primary-color);
    grid-row: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
    font-family: var(--header-font);
    color: var(--secondary-color);
}

/*MAIN CONTENT*/
.main-content{
    background-color: var(--primary-color);
    grid-row: 2/5;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.select-section{
    grid-row: 1/1;
    background-color: var(--primary-color);
}

.select-section-content{
    width: 100%;
    gap: 0px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
    margin-bottom: 20px;
}

#location-input, #search-button{
    font-family: var(--normal-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 5px;
}

.select-section-content > input{
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    padding: 5px;
}

#search-button{
    /* background-color: var(--secondary-color); */
    border: 1px solid var(--secondary-color);
    border-left: 1px solid black;
}

#search-button:hover{
    cursor: pointer;
}

/* .select-section-content>input{

}; */


/*DISPLAY SECTION*/
.display-section{
    background-color: var(--secondary-color);
}

.location-name{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: var(--primary-color);
}

.display-section-content{
    display: grid;
    /* grid-template-rows: auto repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    /* grid-auto-columns: 200px; */
    /* overflow-x: auto; */
    /* grid-template-areas:
        "header header"
        "item1 item2"
        "item3 item4"
        "item5 item6"; */
    gap: 20px;
    margin: 20px;
    place-items: center;
    margin-bottom: 50px;
}

.header{
    grid-column: 1/3;
    grid-row: 1;
}

.sidebar{
    grid-column: 1;
    grid-row: 2/5;
}

/*GRIDS*/
.weather-grids{
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    min-width: 300px;
    min-height: 450px;
    text-align: center;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: rows;

    transition: transform 0.3s ease-in;
}

.weather-grids:hover{
    transform: scale(1.03);
}

.weather-grids > .grid-content-section{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* .grid-0{
    grid-area: header;
} */

.grid-temp{
    font-size: var(--font-size-large);
}

.grid-temp:hover{
    cursor: pointer;
}

.grid-status > p{
    font-size: var(--font-size-medium);
    margin-bottom: 10px;
}

.grid-day{
    margin-bottom: 0px
}
.grid-date{
    margin-top: 0px;
}

/* .grid-1 {grid-area: item1;}
.grid-2 {grid-area: item2;}
.grid-3 {grid-area: item3;}
.grid-4 {grid-area: item4;}
.grid-5 {grid-area: item5;}
.grid-6 {grid-area: item6;} */

/*GRID ICONS*/
.grid-icon-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-icon{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 106px;
    width: 106px;
}

/*LOADER SECTION*/
.loading-section{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.loading-section-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
}

.loading-spinner{
    width: 30px;
    height: 30px;
    border: 6px solid #e5e7eb;
    border-top: 6px solid var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: block;
    box-sizing: border-box;
    place-self: center;
}


