body{
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
}

:root{
    --font-size-large: clamp(1.3rem, 2.1vw, 1.7rem);
    --primary-color: #540d6e;
    --secondary-color: #ee4266;
}

.header{
    background-color: var(--primary-color);
    grid-row: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
}

/*MAIN CONTENT*/
.main-content{
    background-color: var(--primary-color);
    grid-row: 2/5;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.select-section{
    grid-row: 1/1;
    background-color: var(--primary-color);
}

.select-section-content{
    width: 100%;
    gap: 0px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
}

/* .select-section-content>input{

}; */


