body{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* overflow: hidden; */
}

:root{
    --font-size-large: clamp(1.3rem, 2.1vw, 1.7rem);
    --font-size-medium: clamp(1rem, 1.5vw, 1.3rem);
    --primary-color: #540d6e;
    --secondary-color: #ee4266;
}

.header{
    background-color: var(--primary-color);
    grid-row: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
    color: var(--secondary-color);
}

/*MAIN CONTENT*/
.main-content{
    background-color: var(--primary-color);
    grid-row: 2/5;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.select-section{
    grid-row: 1/1;
    background-color: var(--primary-color);
}

.select-section-content{
    width: 100%;
    gap: 0px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
}

/* .select-section-content>input{

}; */


/*DISPLAY SECTION*/
.display-section{
    background-color: var(--secondary-color);
}

.location-name{
    display: flex;
    justify-content: center;
    font-size: var(--font-size-large);
    color: var(--primary-color);
}

.display-section-content{
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "item1 item2"
        "item3 item4"
        "item5 item6";
    gap: 20px;
    margin: 20px;
    place-items: center;
}

.header{
    grid-column: 1/3;
    grid-row: 1;
}

.sidebar{
    grid-column: 1;
    grid-row: 2/5;
}

/*GRIDS*/
.weather-grids{
    background-color: white;
    border: 1px solid black;
    width: 300px;
    height: 450px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.grid-0{
    grid-area: header;
}

.grid-temp{
    font-size: var(--font-size-large);
}

.grid-status > p{
    font-size: var(--font-size-medium);
    margin-bottom: 10px;
}

.grid-day{
    margin-bottom: 0px
}
.grid-date{
    margin-top: 0px;
}

.grid-1 {grid-area: item1;}
.grid-2 {grid-area: item2;}
.grid-3 {grid-area: item3;}
.grid-4 {grid-area: item4;}
.grid-5 {grid-area: item5;}
.grid-6 {grid-area: item6;}

